.menu-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: fadeIn 1s ease-out;
}

.simple-button:hover {
  border-color: #1e90ff;
}

.normal-button:hover {
  border-color: #32cd32;
}

.complicated-button:hover {
  border-color: #ff6347;
}
